body{font-family: 'Gentium Book Basic', Georgia, serif;}
header h1.site-title a{font-size: 64px;color: #444;}
header h1.site-title p{font-size: 20px;color: #444;margin:0;}
header h1.site-title{line-height:1.25}
header.common-header{border-bottom:0;}
footer.common-footer{border-top:0;}
