body{font-family: 'Gentium Book Basic', Georgia, serif;color: #444;line-height:1.5;font-weight: 400;font-size: 20px;}
header h1.site-title a{font-size: 64px;color: #444;}
header h1.site-title p{font-size: 20px;color: #444;margin:0;}
header h1.site-title{line-height:1.25}
header.common-header{border-bottom:0;}
footer.common-footer{border-top:0;}
img.homepage_img{max-width: 100%;}
article header h1 {font-size:47px;font-weight:400;line-height:1.25;margin-top:.5em;}
div.content strong {font-weight: 700;}
p.center{text-align:center;}
