--font-color:#444;
--link-state-color:#a31d1d;

body{font-family: 'Gentium Book Basic', Georgia, serif;line-height:1.5;font-weight: 400;font-size: 20px;}
header h1.site-title a{font-size: 64px;}
header h1.site-title a:hover{color:var(--font-color);border:0;}
header h1.site-title p{font-size: 20px;margin:0;}
header h1.site-title{line-height:1.25}
header.common-header{border-bottom:0;}
footer.common-footer{border-top:0;}
img.homepage_img{max-width: 100%;}
article header h1 {font-size:47px;font-weight:400;line-height:1.25;margin-top:.5em;}
div.content strong {font-weight: 700;}
p.center{text-align:center;}
div.common-footer-bottom{display:flex;justify-content:space-between;}
div.footer_spacer{width:100%;padding-top:1em;height:1em;}
div.themeSwitcher{position:relative;}
.theme-switcher {
    background: var(--switcher-color);
    color: var(--switcher-bg-color);
    padding:0px;
    font-size:16px;
    border:none;
    border-radius:6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-12px 0 0 -12px;
}