<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-theme="dark">
<head>
    {{ partial "theme-init.html" . }}
    {{ block "head" . }}{{ partial "head.html" . }}{{ end }}
</head>
<body>
    <a class="skip-link" href="#main">{{ i18n "skipToContent" }}</a>
    <div class="page-shell">
        {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
        <main id="main" tabindex="-1">
            {{ block "main" . }}{{ end }}
        </main>
        {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    </div>
</body>
</html>