{{ $page := .Get "page" }}
{{ $contentBase := "content/thunderbird-addon-thunderai/" }}
{{ $addonBase := "thunderbird-addon-thunderai/" }}
{{ $defaultLang := site.Language.Lang }}

{{ $urlPath := $page | replaceRE "/_index$" "" }}

{{/* First: default language (English) */}}
{{ range site.Languages }}
  {{ if eq .Lang $defaultLang }}
    <a href="/{{ $addonBase }}{{ $urlPath }}/" hreflang="{{ .Lang }}" title="{{ .LanguageName }}">{{- with .Params.flag }}{{ . }}{{ else }}{{ .Lang }}{{ end -}}</a>
  {{ end }}
{{ end }}

{{/* Then: other languages in alphabetical order */}}
{{ range sort site.Languages "LanguageName" }}
  {{ if ne .Lang $defaultLang }}
    {{ $filePath := printf "%s%s.%s.html" $contentBase $page .Lang }}
    {{ if os.FileExists $filePath }}
      <a href="/{{ .Lang }}/{{ $addonBase }}{{ $urlPath }}/" hreflang="{{ .Lang }}" title="{{ .LanguageName }}">{{- with .Params.flag }}{{ . }}{{ else }}{{ .Lang }}{{ end -}}</a>
    {{ end }}
  {{ end }}
{{ end }}
