{{ $jsonPath := "content/thunderbird-addon-thunderai/permissions.json" }}
{{ $data := os.ReadFile $jsonPath | transform.Unmarshal }}

{{ $active := where $data "dismissed" false }}
{{ $mandatory := where $active "optional" false }}
{{ $optional := where $active "optional" true }}

<ul>
{{- range sort $mandatory "name" }}
    <li><b>{{ .name }}</b>{{ if ne .version "" }}<br><span class="sup_comment">[From version {{ .version }}]</span>{{ end }}<br><span class="perm_desc">{{ .description | safeHTML }}</span></li>
{{- end }}
</ul>
<br>
<i>Optional permissions</i>
<ul>
{{- range sort $optional "name" }}
    <li><b>{{ .name }}</b>{{ if ne .version "" }}<br>{{ if .optional_from_version }}<span class="sup_comment">[From version {{ .version }}, optional from version {{ .optional_from_version }}]</span>{{ else }}<span class="sup_comment">[From version {{ .version }}]</span>{{ end }}{{ end }}<br><span class="perm_desc">{{ .description | safeHTML }}</span></li>
{{- end }}
</ul>
<br>
<i>Removed permissions</i>
<ul style="font-size: 0.90em;">
{{- range sort (where $data "dismissed" true) "name" }}
    <li><b style="text-decoration: line-through;">{{ .name }}</b><br><span class="sup_comment">[Removed in version {{ .version }}]</span><br><span class="perm_desc">{{ .description | safeHTML }}{{ if .note }} <i>{{ .note }}</i>{{ end }}</span></li>
{{- end }}
</ul>
