{{ $page := .Get "page" }}
{{ $contentBase := "content/thunderbird-addon-thunderai/" }}
{{ $addonBase := "thunderbird-addon-thunderai/" }}
{{ $defaultLang := site.Language.Lang }}

{{/* Strip /_index suffix for URL path; _index.html renders at the directory URL */}}
{{ $urlPath := $page | replaceRE "/_index$" "" }}

<div class="lang-switcher">
  {{ range sort site.Languages "LanguageName" }}
    {{ if eq .Lang $defaultLang }}
      <a href="/{{ $addonBase }}{{ $urlPath }}/" hreflang="{{ .Lang }}">
        {{- with .Params.flag }}{{ . }}{{ else }}{{ $.Lang }}{{ end }} {{ .LanguageName -}}
      </a>
    {{ else }}
      {{ $filePath := printf "%s%s.%s.html" $contentBase $page .Lang }}
      {{ if os.FileExists $filePath }}
        <a href="/{{ .Lang }}/{{ $addonBase }}{{ $urlPath }}/" hreflang="{{ .Lang }}">
          {{- with .Params.flag }}{{ . }}{{ else }}{{ $.Lang }}{{ end }} {{ .LanguageName -}}
        </a>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
