{{ $addon_status := (.Get "addon_status") }}
<ul class="card-grid">
    {{- range .Site.Pages }}
    {{ if and (in .Permalink "thunderbird") (not (eq .Params.Type "no-list")) (eq .Params.addon_status $addon_status) }}
        {{ $t := partial "title-split.html" . }}
        <li>
            <a class="card" href="{{ .Permalink }}">
                {{ with .Params.addon_icon }}<img class="card-icon" src="{{ . | relURL }}" alt="" width="36" height="36" loading="lazy">{{ end }}
                <span class="card-title">{{ $t.title }}</span>
            </a>
        </li>
    {{ end }}
    {{- end }}
</ul>